<% fillings = ["Seafood", "Onion", "Corn", "Fish", "Veggie"] %>


<h1> I don't love tacos! </h1>

<p1> hello worlds! </p1>


<ul> 
    <% for filling in fillings %>
    <li><%= filling%> </li>
    <% end %>
</ul>


<p>Currently there are <%= fillings.count %> kinds of tacos </p>